* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-family: 'Press Start 2P', cursive;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background: rgba(0, 0, 0, 0.4);
    border-bottom: 1px solid #444;
}

header .link{
    color: #ff3c3c;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-size: 12px;
    transition: 0.3s;
}

nav a:hover {
    color: #ff3c3c;
}

.descripcion {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: calc(100vh - 80px);
    background: rgba(0, 0, 0, 0.6);
}

.descripcion h1 {
    font-size: 32px;
    color: #ff3c3c;
    text-shadow: 2px 2px 4px black;
}

.descripcion p {
    font-size: 12px;
    color: #eb8787;
    margin: 20px 0;
}
