* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*CSS GENERAL*/
body {
    display: grid;
    grid-template-rows: auto 0.5fre auto;
}

header {
    background: #333;
    padding: 15px;
    text-align: center;
    
}

header a {
    color: #fff;
    margin: 5px 10px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
}

main h2 {
    padding: 10px;
}

footer {
    padding: 50px;
    text-align: center;
    color: #fff;
    background: #333;
}


/*CSS DE INDEX*/
.bienvenida {
    background: green;
    color: #fff;
    text-align: center;
    padding: 50px;
    flex: 1;
}

.bienvenida h2 {
    font-weight: bold;
    padding: 15px;
}

.incio-grid{
    padding: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    text-align: center;
}

.incio-grid p {
    margin: 15px 20px;
    padding: 10px 10px;
    background: gainsboro;
    gap: 10px;
}

/*CSS DE SERVICIOS*/

main .servicios-grid {
    display: grid;
    padding: 15px;
    grid-template-columns: auto auto auto auto;
    text-align: center;
}

.servicios-grid p {
    margin: 15px 20px;
    padding: 10px 10px;
    background: gainsboro;
    gap: 10px;
}

/*CSS DE PORTAFOLIO*/
.portafolio {
    text-align: center;
    justify-items: center;
}

.portafolio p{
    margin: 10px;
    background: gainsboro;
    padding: 20px;
    width: 200px;
}
